.navbar {
  -webkit-box-shadow: 3px 10px 19px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 10px 19px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 10px 19px 0px rgba(0, 0, 0, 0.2);
  background: ;
  color: #242424;
  text-align: center;
  font-family: Segoe UI;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  padding: 1.25rem;
}

.brand_img {
  width: 9rem;
}

.navbar_brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  margin: 0 1rem 0 1rem;
}

.navbar_items > a {
  margin: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
}

.navbar_items > a:hover {
  text-decoration: none;
  border-bottom: 3px solid #292d32;
  transition: 0.1s;
}

.navbar_items > a:active {
  text-decoration: none;
  border-bottom: 3px solid #292d32;
  transition: 0.1s;
}
