/* Navbar General Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.navbar_brand img {
  height: auto;
  width: 10rem;
}

.navbar_items {
  display: flex;
  align-items: center;
}

.nav_link {
  margin: 0 15px;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav_link:hover {
  color: #007bff;
}

.logout_btn {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout_btn:hover {
  color: #ff073a;
}

