.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}

.page-header {
  font-size: 1.25rem;
  color: #fff;
  border-radius: 0.25rem;
  /* Elevation/Light/Shadow 16 */
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 8px 16px 0px rgba(0, 0, 0, 0.14);
}

.customBtn {
  background-color: #fff;
  color: #292929fb;
  font-size: 1.25rem;
}
.btn-ui:hover {
  background-color: #292929fb;
  color: #fff;
}
